body{
    background-image: url(img\ 4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #form {   
    
      
      border: 3px #ffffff; 
      margin-top: auto;
      
      width: 400px;
      margin-left: auto;
      float: right;
    }
    #image{
      margin-top: auto;
      float: left;
      margin-left: 40px;
    }
    #tab{
      background-color:white;
      padding: auto;
      border: 2px solid rgb(57, 52, 52);
      margin: 20px;
      margin-left: 300px;
      margin-bottom: auto;
      border-radius: 25px;
      background: rgb(181, 231, 248);
      backdrop-filter: blur(9px);
      box-shadow:0 0 30px rgb(3, 3, 3);
    }
    
    #div1 {
      margin-left: 130px;
    }
    
    #div2 {
      margin-left: 90px;
    }
    
    #div3 {
      margin-left:130px;
    }
    
    
    
    body{
      background-color: aliceblue;
  
    }
    
    .input{
      width: 90%;
      height: 20px;
    }
    #button{
      background-color: #3498db;
      color: #fff;
      padding: 10px 10px;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      width: 50%;
      
    }
    #button:hover {
      background-color: #e42525;
    }
  #login{
    background-color: blue;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 50%;
    
  }
  
  #login:hover {
    background-color: green;
  }